BOT_TOKEN=your_bot_token
ALLOWED_USERS=123456789,987654321

RADARR_URL=http://192.168.1.10:7878/api/v3
RADARR_KEY=your_key

SONARR_URL=http://192.168.1.10:8989/api/v3
SONARR_KEY=your_key

PAGE_SIZE=5
